
@{
    ViewData["Title"] = "ReservaConcluida";
}

<h1>Reserva Concluida!</h1>
<h3>Agradecemos a preferência.</h3>

<div>
    <a asp-action="Index" asp-controller="Home"> Quer dar uma olhada em outros automóveis? Clique Aqui.</a>
</div>
