
<h1>Agradecemos pelo Feedback!</h1>
<h3>Sua opinião é muito importante para nos ajudar a melhorar nosso atendimento.</h3>

<div>
    <a asp-action="Index" asp-controller="Home"> Quer dar uma olhada em outros automóveis? Clique Aqui.</a>
</div>
