@model ListagemAluguelModel

@{
    ViewData["Title"] = "View";
}

<div id="filtro-listagem-veiculo">
    <div class="row">
        <div class="col-md-12 section-header" style="text-align: left; border-bottom: 1px solid; border-bottom-color: #eaeaea; padding-bottom:10px;">
            <h3 class="title">
                Listagem de Alugueis
            </h3>
        </div>
    </div>
</div>
<br />

@*<div class="row">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div ="row">
                    <div class="col-md-7">
                        <label asp-for="PeriodoInicio" class="control-label">Período Início</label>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="PeriodoInicio" class="form-group" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-7">
                    <label asp-for="PeriodoFinal" class="control-label">Período Fim</label>
                </div>
                <div class="col-md-7">
                    <input asp-for="PeriodoFinal" class="form-group" />
                </div>
            </div>
            <div class="col-md-4">
                <center>
                    <butoton href="#" class="btn btn-success">
                        <span class="glyphicon glyphicon-star-empty">Filtrar</span>
                    </butoton>
                </center>
            </div>
        </div>
        
    </div>
</div>*@

<div id="grid-listagem-luguel">
    @Html.Partial("_GridAlugueis", Model)
</div>

