@model ListagemAluguelModel

@{
    ViewData["Title"] = "View";
}

<div id="filtro-listagem-veiculo">
    <div class="row">
        <div class="col-md-12 section-header" style="text-align: left; border-bottom: 1px solid; border-bottom-color: #eaeaea; padding-bottom:10px;">
            <h3 class="title">
                Listagem de Alugueis
            </h3>
        </div>
    </div>
</div>
<br />
<br />

<div class="row">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4" style="vertical-align: middle; text-align: right;">
                        <label asp-for="PeriodoInicio" class="control-label">Período Início</label>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="PeriodoInicio" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4" style="vertical-align: middle; text-align: right;">
                        <label asp-for="PeriodoFinal" class="control-label">Período Fim</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="PeriodoFinal" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <center>
                                <button href="#" id="filtro-data" class="btn btn-success" onclick="aoClicarEmFiltrar();">
                                    <span class="glyphicon glyphicon-star-empty">Filtrar</span>
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<br />

<div id="grid-listagem-luguel">
    @Html.Partial("_GridAlugueis", Model)
</div>

<script>
    var URL_FILTRO_DATA = '@Url.Action("ListarPorPeriodo", "ListagemAluguel")';

    function aoClicarEmFiltrar() {
        var data = {
            periodoInicio: $('#PeriodoInicio').val(),
            periodoFinal: $('#PeriodoFinal').val()
        }
        chamadaGET(URL_FILTRO_DATA, data, ListarPorPeriodoSucesso);
    }

    function ListarPorPeriodoSucesso(data) {
        if (data) {
            $('#grid-listagem-luguel').html(data);
            $('#grid-listagem-luguel').load();
        }
    }
</script>

