@model ListagemVeiculosModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .input-text-filtro {
        font-size: 15px;
    }
</style>

<form id="FormFiltroListagemVeiculo" onsubmit="window.location.href = '@Url.Action("Home")'">
        <div class="row">
            <div class="col-md-12 section-header" style="text-align: left; border-bottom: 1px solid; border-bottom-color: #eaeaea; padding-bottom:10px;">
                <h3 class="title">
                    ENCONTRE O SEU VEÍCULO
                </h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">@Html.DropDownListFor(m => m.ListaCategorias, Model.ListaCategorias, null, new { @id = "categoriaVeiculo", @class = "form-control", onchange = @"alteracaoCategoria();" })</div>
        </div>
        @Html.HiddenFor(m => m.CategoriaSelecionada)
</form>
<br />
<div id="listagem-veiculo" class="d-none d-md-block">
    @Html.Partial("_ListaVeiculos", Model)
</div>
<script>
    function alteracaoCategoria() {
        $('#CategoriaSelecionada').val($('#ListaCategorias').val());
        $('#form-filtro-listagem-veiculo').submit();
    }

</script>